.my-container {
  width: 100%;
  background-color: #ffffff;
}

.my-header {
  width: 100%;
  background-color: #fff5ed;
  padding: 2vh 0;
  margin-bottom: 33px;
}

.my-header-content {
  width: 70%;
  max-width: 1300px;
  margin: 10px auto;
  display: table;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.my-header-content .title {
  text-align: center;
  font-weight: 500;
  font-size: 26px;
  margin-top: 32px;
  margin-bottom: 32px;
  color:rgb(82, 82, 82);
}

.steps-header {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.steps-header {
  padding: 1vh;
}

.step-number {
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: .5vh;
  font-weight: bold;
  cursor: pointer;
}

.active {
  color: orange;
}

.my-content {
  width: 70%;
  max-width: 1300px;
  margin: auto;
}

.my-actions {
  width: 70%;
  max-width: 1300px;
  margin: auto;
  padding: 1.5vh 0 3.5vh 0;
  display: flex;
  justify-content: space-between;
}

.my-action {
  padding: 1vh;
  display: flex;
  align-items: center;
  line-height: 1;
  border-radius: 5px;
  background-color: orange;
  color: white;
  cursor: pointer;
}

.back {
  background-color: white;
  color: black;
  border: 1px solid black;
}

.hide {
  opacity: 0;
}

.wdt{
  width: 100px;
}

