<div class="my-container">
    <app-header-login></app-header-login>
    <div class="my-header">
    <div class="my-header-content">
      <div class="title pc">Demander un devis en ligne</div>
      <div class="steps-header">
        <div class="step-header {{selectedStep === step.index ? 'active' : ''}}" *ngFor="let step of steps" (click)="navigate(step.index)">
          <div class="step-number">{{step.index}}</div>
          <div class="step-title">{{step.title}}</div>
        </div>
      </div>
    </div>
  </div>
  <div class="my-content">
    <app-driver-info [toggle]="steps[0].toggle" (onNext)="onNext($event)" [hidden]="!show(1)"></app-driver-info>
    <app-car-info [toggle]="steps[1].toggle" (onNext)="onNext($event)" [hidden]="!show(2)"></app-car-info>
    <app-garanties [toggle]="steps[2].toggle" [_garanties]="garanties" (onNext)="onNext($event)" [hidden]="!show(3)"></app-garanties>
    <app-recapitulatif [data]="data" [hidden]="!show(4)"></app-recapitulatif>
    <app-justificatif [toggle]="steps[4].toggle" (onNext)="onNext($event)" [hidden]="!show(5)"></app-justificatif>
    <app-payment [toggle]="steps[5].toggle" [total]="data?.taxes?.decomptePrime?.primeTotaleTTC" (payment)="changePaymentType($event)" [donnees]="data" (onNext)="onNext($event)" *ngIf="show(6)"></app-payment>
  </div>
  <div class="my-actions">
    <div class="my-action back {{selectedStep === 1 ? 'hide' : ''}}" (click)="back()">
      <div class="my-action-icon"><i class="material-icons">chevron_left</i></div>
      <div class="my-action-title">Précédent</div>
    </div>
    <div class="my-action" *ngIf="selectedStep !== steps.length" (click)="next()">
      <div class="my-action-title">Etape suivante</div>
      <div class="my-action-icon"><i class="material-icons">chevron_right</i></div>
    </div>
    <div class="my-action wdt" *ngIf="selectedStep === steps.length && payment === 'cheque'  "  (click)="next()">
      <div class="my-action-title">Terminer</div>
      <div class="my-action-icon"><i class="material-icons">check</i></div>
    </div>
    <div class="my-action wdt" *ngIf="selectedStep === steps.length && payment === 'online' "  (click)="next()">
        <div class="my-action-title">Payer</div>
        <div class="my-action-icon"><i class="material-icons">check</i></div>
      </div>

  </div>
</div>
