.slideShow{
  background: url("/souscription/assets/images/car_bg.jpg") no-repeat center; 
  width: 100%;
  background-repeat: no-repeat;
  z-index: 499;
  background-image:100% 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*
  min-height: 450px;
  height: 450px;*/
}

.background{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  color: #FFFFFF;
  position: relative;
  background-color: rgba(34, 34, 35, 0.69);
  margin: 0px;
}
.facultatif{
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  widows: 50%;
  padding-bottom: 10px;

  border-radius: 5px;
  font-size: 20px;
}
.message{
  font-weight: lighter;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
}
.enligne{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  padding-bottom: 50px;
}
.button {
  display: inline-block;
  border: 1px solid #f9822e;
  border-radius: 4px;
  font-size: 20px;
  padding: 10px;
  width: 350px;
  margin: 5px;
  color: #f9822e;
  background-color: Transparent;
  background-repeat:no-repeat;
  overflow: hidden;
  outline:none;
  font-variant:initial;
}

.button span {
  display: inline-block;
  position: relative;
  font-size: 20px;
}

.button span:after {

}

.button:hover span {
}

.button:hover span:after {

}

.button:hover{
  color:white;
  background-color: #f9822e;
}

.button i.material-icons{
  margin-top:5px
}

.center-hvv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 90px;
}


