<div class="slideShow">
  <div class="row background">

      <div class="row">
        <div class="col-md-4" style="padding-top: 90px; padding-left: 37px;">
            <div class="row" style="text-align: right">
                <button  class="button btn " style=" margin-right: 5%; background-color: #f9822e;color:white" type="button">Assurance Automobile</button>
              </div>
              <div class="row" style="text-align: center">
                <button  class="button btn " style=" margin-right: 5%;" type="button">Assurance Habitation</button>
              </div>
              <div class="row" style="text-align: center">
                  <button  class="button btn " style=" margin-right: 5%;" type="button">Assurance Santé</button>
                </div>
              <div class="row" style="text-align: left">
                <button  class="button btn" style=" margin-right: 5%" type="button">Découvrir les autres assurances</button>
              </div>
        </div>

        <div class="col-md-1"></div>
        <div class="col-md-3  center-hvv">
          <div class="row" style="justify-content: center; align-items: center; flex-direction: column; ">
            <div> <h2 class="message" > Demandez votre devis</h2></div>
              <div><h4 class="enligne">en ligne</h4></div>
          </div>

          <div class="row facultatif" >
            <button class="button btn btn-warning" (click)="navigate()" style="width: 304px">
              <span> Demandez un devis</span>
              <i class="material-icons" style="float: right" >keyboard_arrow_right </i>
            </button>
          </div>
      </div>
      <div class="col-md-4"></div>

  </div>

</div>
</div>
