<div mat-dialog-content>
    <div style="justify-content: center;" class="modal-header">			
        <h5 class="modal-title">{{message}}</h5>	
    </div>
    
</div>

   <div mat-dialog-actions class=" modal-footer">
     
        <div>
            <button class="btn btn-info"  cdkFocusInitial (click)="onNoClick()">Non</button>
          </div>
          <div><button class="btn btn-danger"  [mat-dialog-close]="true">Oui</button>
          </div>
   
   </div>
