
<mat-dialog-content class="mat-typography">
  <div style="width: 800px; height: 70px;">
      <h3 style="
      text-align: center; padding-top:15px;
      margin: 0 0 .75em 0;"> Votre demande a été envoyée avec succès ! </h3>


    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
       <button mat-button mat-dialog-close>Retourner à l'acceuil </button>
</mat-dialog-actions>
