<div class="my-container">
  <div class="my-content">
      <div class="footer-content">
          <div class="adress">
            <div>Groupe AFMA</div>
            <div>22, bd Moulay Youssef - 20 070</div>
            <div>Casablanca, Maroc</div>
          </div>
          <div class="contact">
            <div>Tél: +212 5 22 42 80 00</div>
            <div>Fax: +212 5 22 42 80 21</div>
          </div>
          <div class="copyright">
              © Copyright 2019 Groupe AFMA - Tous droits réservés.
          </div>
        </div>
        <div class="tenor-logo">
          <div><span>Une société de   </span>
          <img src="assets/images/logo_tenor2.gif" alt="Ténor logo">
        </div>
  </div>
</div>
