.my-container {
    width: 100%;
    padding: 1vh 0;
    background-color: rgb(46, 53, 61);
    color: #ffffff;
    font-size: .8em;
}

.my-content {
    width: 70%;
    max-width: 1300px;
    margin: auto;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-content, .tenor-logo {
  padding: 1vh;
}

.adress, .contact {
  margin-bottom: 1vh;
}

.tenor-logo img {
    width: 5vh;
    height: 5vh;
    margin-top: 5px;
}

