<h1 mat-dialog-title>Convention</h1>
<mat-dialog-content class="mat-typography">
  <div *ngIf="data.convention">
    <p>Voulez vous bénéficier de la convention {{data.convention}} ?</p>
  </div>
  <div *ngIf="!data.convention">
    <p>Merci de nous contacter au 0802 00 22 23 </p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end" *ngIf="!data.convention">
  <button mat-button (click)="closeDialog(false)">Fermer</button>
</mat-dialog-actions>
<mat-dialog-actions align="end" *ngIf="data.convention">
    <button mat-button (click)="closeDialog(true)">Oui</button>
  <button mat-button (click)="closeDialog(false)">Non</button>
</mat-dialog-actions>
