.my-container {
  width: 100%;
  min-height: 8vh;
  padding: 1vh 0;
  background-color: #ffffff;
  font-size: .9em;
}

.my-content {
  width: 70%;
  max-width: 1300px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.logo img {
  height: 6vh;
  cursor: pointer;
}

.utils {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.logo, .signup, .payment, .contact {
  padding: 1vh;
}

.signup {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  border-right: 1px dotted grey;
  cursor: pointer;
}

.payment {
  text-align: center;
}

.payment-card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.payment-card img {
  height: 2vh;
  margin: .5vh;
}

.contact {
  display: flex;
  align-items: center;
}

.contact-icon {
  margin-right: .5vh;
}

.contact-icon i {
  font-size: 2.5em;
}

  .navSelected{
    background-color: red;
  }
  .logout{
    font-weight: bold;
    color: #0B52A1;
    padding: 14px 20px 14px 25px;
    cursor: pointer;
  }