<div class="my-container">
  <div class="my-content">
      <div class="logo" [routerLink]="['index']">
        <img src="assets/images/LOGOAFMA.JPG" alt="AFMA logo">
      </div>
      <div class="utils">
        <!--
        <div class="signup" [routerLink]="['login']">
          <i class="material-icons">person</i>S'identifier
        </div>-->
        <div class="payment">
          <div>Paiement sécurisé</div>
          <div class="payment-card">
            <img src="assets/images/header_visa.gif" alt="Visa logo">
            <img src="assets/images/header_master.gif" alt="MasterCard logo">
            <img src="assets/images/cmi_s.png" alt="CMI logo">
          </div>
        </div>
        <div class="contact">
          <div class="contact-icon">
            <i class="material-icons sc">phone</i>
          </div>
          <div>
            <div>Service client</div>
            <div class="sc">0 802 00 22 23 </div>
          </div>
        </div>
      </div>
      <form class="form-inline my-2 my-lg-0">
          <!-- <button type="button" class="button2" (click) ="editPassword()" >Modifier mot de passe <i class=""></i></button> -->
           <div *ngIf="userRoleConnected === 'admin'" class="logout" (click)="logout()"> <i class="fa fa-sign-out"> Déconnexion</i></div>
           <div *ngIf="userRoleConnected === 'user'" class="logout">
              <div class="nav-item dropdown no-arrow">
                  <div class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="mr-2 d-none d-lg-inline text-gray-600">Mon compte</span>
    
                  </div>
                  <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                    <div (click) ="editPassword()" class="dropdown-item" href="#">
                      <i class="fa fa-edit fa-sm fa-fw mr-2 text-gray-400"></i>
                      Mot de passe
                    </div>
                    <div class="dropdown-divider"></div>
                    <div (click)="logout()" class="dropdown-item" href="#">
                      <i class="fa fa-sign-out fa-sm fa-fw mr-2 text-gray-400"></i>
                      Déconnexion
                    </div>
                  </div>
                </div>
          </div> 
           
      </form>
  </div>
</div>
