<mat-dialog-content class="mat-typography">
    <div class="modal-body">
      <form [formGroup]="form">

        <div class="form-group">
            <label for="code">Garantie </label>
            <select id="code"  [attr.disabled]="true" formControlName="code" class="form-control custom-select"  >
              <option *ngFor="let code of garantiesInfo" value="{{code.code}}">{{code.libelle}}</option>
            </select> 
        </div>
        <div *ngIf="f.code.value !== 'RC' && f.code.value !== 'DR'">
          <div class="form-group">
              <label for="configuration">Configuration </label>
              <select id="configuration" formControlName="configuration" class="form-control custom-select" [ngClass]="{'is-invalid': hasError('configuration') }">
                  <option *ngFor="let conf of configuration" value="{{conf}}">{{conf}}</option>
              </select> 
              <div *ngIf="hasError('configuration')" class="invalid-feedback">
                <div *ngIf="f.configuration.errors?.required">Ce champ est obligatoire</div>
              </div>
          </div>
          <div *ngIf="f.configuration.value === 'T'" class="form-group">
              <label for="taux">Taux</label>
              <input type="text" class="form-control" formControlName="taux" class="form-control" [ngClass]="{'is-invalid': hasError('taux') }">
              <div *ngIf="hasError('taux')" class="invalid-feedback">
                <div *ngIf="f.taux.errors?.required">Ce champ est obligatoire</div>
                <div *ngIf="f.taux.errors?.pattern">Format invalide</div>

              </div>
          </div>
          <div *ngIf="f.configuration.value === 'P'" class="form-group">
            <label for="prime">Prime</label>
            <input type="text" class="form-control" formControlName="prime" class="form-control" [ngClass]="{'is-invalid': hasError('prime') }">
            <div *ngIf="hasError('prime')" class="invalid-feedback">
              <div *ngIf="f.prime.errors?.required">Ce champ est obligatoire</div>
              <div *ngIf="f.prime.errors?.pattern">Format invalide</div>

            </div>
        </div>
        <div class="form-group">
          <label for="franchise">Franchise</label>
          <input type="text" class="form-control" formControlName="franchise" class="form-control" [ngClass]="{'is-invalid': hasError('franchise') }">
          <div *ngIf="hasError('franchise')" class="invalid-feedback">
            <div *ngIf="f.franchise.errors?.required">Ce champ est obligatoire</div>
            <div *ngIf="f.franchise.errors?.pattern">Format invalide</div>

          </div>
      </div>
  </div>
  </form>
    </div>
    <div class="modal-footer">
       
  </div>  
  </mat-dialog-content>
  
  <mat-dialog-actions align="end">
    
  <div class="row">
      <div class="col"><button type="button"  class="btn btn-primary" data-dismiss="modal" (click)= "editConvention()">Confirmer</button></div>
        <div class="col"><button mat-button mat-dialog-close >Fermer</button></div>
    </div>
  </mat-dialog-actions>
  
  