<div class="card-body ">
  <div class="my-content">
    <div class="container">
      <form [formGroup]="form">
      <div class="row">
          <div class="col-sm-4">
              <div class="form-group">
                  <label for="agence">Agence </label>
                  <select (change)="onChange($event.target.value)" id="agence" formControlName="agence" class="form-control custom-select">
                    <option *ngFor="let agence of agences" value="{{agence.agenceId}}">{{agence.ville}}</option>
                  </select> 
              </div>
          </div>
      
          <div class="col-md-7">
              
          </div>
      <div class="col-sm-1">
        <button title="Ajouter un utilisateur" at-button (click)="AddUserFunction()" class=" ajouter btn btn-primary"><i class="fa fa-plus"></i></button>
      </div>
      </div>
      </form>
      
        <div class="mat-elevation-z8 ">
          <table  *ngIf="taille !== 0" class="table table-hover" >
            <thead>
              <tr>
                <th scope="col">Login</th>
                <th scope="col">Matricule</th>
                <th scope="col">Nom</th>
                <th scope="col">Prenom</th>

                <th class="action" scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let user of users'>

                <td>{{user.login}}</td>
                <td>{{user.matricule}}</td>
                <td>{{user.nom}}</td>
                <td>{{user.prenom}}</td>
                <td class="buttonAction"> <button type="button" title="Modifier"  (click)="EditUserFunction(user)" class="btn btn-primary"><i class="fa fa-edit"></i></button>  
                  <button title="Supprimer"  type="button" (click)="deleteUser(user.utilisateurId)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </tr>

            </tbody>
          </table> 
          <div *ngIf="taille === 0" class="text-info noUsers"> Aucun utilisateur pour cette agence !</div>
        </div>
      </div>
     </div>
  </div>
<!--
  <div id="ajouter" class="modal fade" role="dialog">
      <div class="modal-dialog">

      
        <div class="modal-content">
          <div class="modal-header">

            <h4 class="modal-title">Ajouter un utilisateur</h4>
            <button type="button" class="close" data-dismiss="modal">x</button>
          </div>
          <div class="modal-body">
            <form [formGroup]="frmAddUser">
              <div class="form-group">
                  <label for="usr">Matricule :</label>
                  <input type="text" class="form-control" formControlName="matricule">
              </div>
              <div class="form-group">
                  <label for="usr">Nom :</label>
                  <input type="text" class="form-control" formControlName="nom">
              </div>
              <div class="form-group">
                  <label for="usr">Prénom :</label>
                  <input type="text" class="form-control" formControlName="prenom">
              </div>
              <div class="form-group">
                  <label for="usr">Agence :</label>
                  <select formControlName="ville"  class="form-control">
                      <option *ngFor="let agence of agences" value="{{agence.agenceId}}"> {{agence.ville}}</option>
                    </select>
              </div>
              <div class="form-group">
                  <label for="usr">Login :</label>
                  <input type="text" class="form-control" formControlName="login">
              </div>
                <div class="form-group">
                  <label for="pwd">Password:</label>
                  <input type="password" class="form-control" formControlName="password">
                </div>
              </form>
          </div>
          <div class="modal-footer">
              <div class="row">
            <div class="col"><button type="button" class="btn btn-primary" data-dismiss="modal">Confirmer</button></div>
            <div class="col"><button type="button"  class="btn btn-default" data-dismiss="modal">Fermer</button></div>
          </div>
          </div>
        </div>
      </div>
    </div>


    <div id="modifier" class="modal fade" role="dialog">
        <div class="modal-dialog">

         
          <div class="modal-content">
            <div class="modal-header">

              <h4 class="modal-title">Ajouter un utilisateur</h4>
              <button type="button" class="close" data-dismiss="modal">x</button>
            </div>
            <div class="modal-body">
              <form [formGroup]="frmEditUser">
                <div class="form-group">
                    <label for="usr">Matricule :</label>
                    <input type="text" class="form-control" formControlName="matricule">
                </div>
                <div class="form-group">
                    <label for="usr">Nom :</label>
                    <input type="text" class="form-control" formControlName="nom">
                </div>
                <div class="form-group">
                    <label for="usr">Prénom :</label>
                    <input type="text" class="form-control" formControlName="prenom">
                </div>
                <div class="form-group">
                    <label for="usr">Agence :</label>
                    <select formControlName="ville"  class="form-control">

                        <option *ngFor="let agence of agences" selected value="{{agence.agenceId}}"> {{agence.ville}}</option>
                      </select>
                </div>
                <div class="form-group">
                    <label for="usr">Login :</label>
                    <input type="text" class="form-control" formControlName="login">
                </div>
                  <div class="form-group">
                    <label for="pwd">Password:</label>
                    <input type="password" class="form-control" formControlName="password">
                  </div>
                </form>
            </div>
            <div class="modal-footer">
                <div class="row">
              <div class="col"><button type="button" class="btn btn-primary" data-dismiss="modal">Confirmer</button></div>
              <div class="col"><button type="button"  class="btn btn-default" data-dismiss="modal">Fermer</button></div>
            </div>
            </div>
          </div>

        </div>
      </div>
    -->