table{
  font-size: 90%
}

button{
  margin-left: 10px;
  color: black;
  background-color: transparent;
  border-color: transparent;
}

#btnAdd{
margin: 10px;
}
.action{
  width: 140px;
  text-align: center;
  
}
.buttonAction{
  padding-right: 0px;
  padding-top: 3px;
  padding-bottom: 2px;
  padding-left: 34px;

}
.ajouter{
  margin-top: 35px;
  margin-left: 1px;
  color: #fff;
  background-color: #0B52A1;
  border-color: #0B52A1;
}
.noUsers{
  font-size: 22px;
    padding: 43px;
  margin-top: 67px;
  text-align: -webkit-center;
}
