<div class="my-container">
    <div class="my-content">
        <div class="logo" [routerLink]="['index']">
          <img src="assets/images/LOGOAFMA.JPG" alt="AFMA logo">
        </div>
        <div class="utils">
          <!-- <div class="signup" [routerLink]="['/manager']" routerLinkActive="router-link-active">
            <i class="material-icons">person</i>S'identifier
          </div> -->
          <div class="payment">
            <div>Paiement sécurisé</div>
            <div class="payment-card">
              <img src="assets/images/header_visa.gif" alt="Visa logo">
              <img src="assets/images/header_master.gif" alt="MasterCard logo">
              <img src="assets/images/cmi_s.png" alt="CMI logo">
            </div>
          </div>
          <div class="contact">
            <div class="contact-icon">
              <i class="material-icons sc">phone</i>
            </div>
            <div>
              <div>Service client</div>
              <div class="sc">0 802 00 22 23 </div>
            </div>
            <div>
                <button style="margin-left: 40px" (click)="goToAdminSpace()" class="btn btn-primary" title="administration" type="button">
                  administration
                </button>
              </div>

          </div>
        </div>
    </div>
  </div>
  