<div class="my-container">
    <div>
          <div class="row">
              <div class="col-md-9 "><h4>Récapitulatif</h4></div>
              <div class="col-md-3">

                  <div class="my-action print" (click)='downloadPDF()'>
                    <div class="my-action-title">télècharger devis</div>
                    <div class="my-action-icon" style="margin: auto;"><i class="material-icons">get_app</i></div>
                  </div>
                </div>
           </div>

      <div class="row">
        <div class="col-md-4 mb-4">
            <h5>Conducteur</h5>
          <div class="card recapinfo">
            <div class="fonts">
              <h6>Nom et Prénom:</h6>
              <h6>{{data?.conducteur?.nom}} {{data?.conducteur?.prenom}}</h6>
            </div>
            <br>
            <div class="fonts">
            <h6>Adresse:</h6>
            <h6>{{data?.conducteur?.adresse}}</h6>
            </div>
            <br>
            <div class="fonts">
            <h6>Téléphone:</h6>
            <h6>{{data?.conducteur?.gsm}}</h6>
            </div>
            <br>
            <div class="fonts">
            <h6>Email:</h6>
            <h6>{{data?.conducteur?.email}}</h6>
            </div>
            <br>
            <div class="fonts">
            <h6>Date de naissance:</h6>
            <h6>{{data?.conducteur?.birthday | date: 'dd-MM-yyyy'}}</h6>
            </div>
            <br>
            <div class="fonts">
            <h6>Date d’obtention du permis:</h6>
            <h6>{{data?.conducteur?.dop | date: 'dd-MM-yyyy'}}</h6>
            </div>
        </div>
        </div>
        <div class="col-md-4 mb-4 ">
            <h5>Détails du véhicule:</h5>
            <div class="card recapinfo">
                <div class="fonts">
              <h6>Usage:</h6>
              <h6>{{getUsage(data?.vehicule?.usage)}}</h6>
              </div>
              <br>
              <div class="fonts">
              <h6>Puissance fiscale:</h6>
              <h6>{{data?.vehicule?.puissance}} CV</h6>
              </div>
              <br>
              <div class="fonts">
              <h6>Type du carburant:</h6>
              <h6>{{getCarburant(data?.vehicule?.carburant)}}</h6>
              </div>
              <br>
              <div class="fonts">
              <h6>Immatriculation:</h6>
              <h6 *ngIf="data?.vehicule?.typeImma === 'definitif'">{{data?.vehicule?.immatriculationDefinitf?.code}} - {{data?.vehicule?.immatriculationDefinitf?.letter | uppercase}} - {{data?.vehicule?.immatriculationDefinitf?.ville}}</h6>
              <h6 *ngIf="data?.vehicule?.typeImma === 'ww'">{{data?.vehicule?.immatriculationWw}} WW</h6>
              </div>
              <br>
              <div class="fonts">
              <h6>Date de mise en circulation:</h6>
              <h6>{{data?.vehicule?._dateMEC | date: 'dd-MM-yyyy'}}</h6>
              </div>
              <br>
              <div class="fonts">
              <h6>Valeur vénale:</h6>
              <h6>{{data?.vehicule?.venale}}</h6>
              </div>
              <br>
              <div class="fonts">
              <h6>CRM:</h6>
              <h6>{{data?.crm ===3 ? 1 : data?.crm}}   {{data?.crm===3 ? "*":""}} </h6>
              </div>
            </div>
          </div>
        <div class="col-md-4 mb-4">

          <h5>Date de couverture</h5>
          <div class="card recapinfo">
          <div class="fonts">
          <h6>Date début:</h6>
          <h6>{{data?.vehicule?._debutCouvertue | date: 'dd-MM-yyyy'}}</h6>
          </div>
          <br>
          <div class="fonts">
          <h6>Date fin:</h6>
          <h6>{{data?.vehicule?._finCouverture | date: 'dd-MM-yyyy'}}</h6>
        </div>
          </div>
        </div>
      </div>
   </div>
   <br>
       <div class="row"  >
        <h5>Calcul de la prime totale annuelle</h5>
      </div>

      <!--<pre>{{ data | json}}</pre>-->

      <div class="row card" >
          <table class="table">
              <thead>
                <tr>
                  <th scope="col">Garantie</th>
                  <th scope="col">Valeur assurée</th>
                  <th scope="col">Prime annuelle HT</th>
                </tr>
              </thead>

              <tbody *ngIf="data?.garanties">
                  <!--<tr *ngFor="let garantie of data.taxes.responseGaranties">-->
                  <tr *ngFor="let garantie of data.garanties.garantiesData">
                      <td class="tdIcon">
                          <div><i style="color:orange" class="fa fa-2x fa-g{{garantie.icon}}"></i></div>
                          <div><span>{{garantie.lebelle}}</span></div>
                      </td>

                      <td>{{garantie.valeurAssure | number:'.0-2' | pricePipe}}</td>
                      <td>{{garantie.prime | number:'.0-2' | pricePipe}}</td>
                  </tr>

              </tbody>
            </table>
        </div>
        <br>
<!---
      <div class="row " style=margin-bottom:5px;>

        <div class="col-md-5 container-prime">
            <div class="row element">
                <div class="col-md-8 "><h6  class="title">Prime Annuelle HT: </h6></div>
                <div class="col-md-4 "><h6 class="prime price"> {{data?.garanties?.sommeGaranties | number:'.0-2' | pricePipe}} DH</h6></div>
              </div>
        </div>

        <div class="col-md-7 "> </div>

        </div>
-->
         <div class="row card">
           <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Categorie</th>
                    <th scope="col">Effet</th>
                    <th scope="col">Prime nette</th>
                    <th scope="col">Taxes</th>
                    <th scope="col">Accessoires</th>
                    <th scope="col">Prime totale</th>
                  </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>AutomobilePTA</td>
                        <td> {{data?.taxes?.decomptePrime?.dateEffet | date: 'dd-MM-yyyy'}} </td>
                        <td> {{data?.taxes?.decomptePrime?.primeprorataAutoPTA | number:'.0-2' | pricePipe}} </td>
                        <td> {{data?.taxes?.decomptePrime?.taxeProrataAutoPTA | number:'.0-2' | pricePipe}} </td>
                        <td> {{data?.taxes?.decomptePrime?.accessoires | number:'.0-2' | pricePipe}}  </td>
                        <td>{{data?.taxes?.decomptePrime?.primeAutoPTATotale | number:'.0-2' | pricePipe}} </td>
                    </tr>

                    <tr>
                        <td>RC A.V.A</td>
                        <td> {{data?.taxes?.decomptePrime?.dateEffet | date: 'dd-MM-yyyy'}} </td>
                        <td> {{data?.taxes?.decomptePrime?.primeprorataRCAVA | number:'.0-2' | pricePipe}} </td>
                        <td> {{data?.taxes?.decomptePrime?.taxeProrataRCAVA | number:'.0-2' | pricePipe}} </td>
                        <td> 0.00 </td>
                        <td>{{data?.taxes?.decomptePrime?.primeRCAVAtotale | number:'.0-2' | pricePipe}} </td>
                    </tr>

                    <tr>
                      <td colspan="6"> CNPAC: {{data?.taxes?.decomptePrime?.cnpac | number:'.0-2' | pricePipe}}  DH </td>
                    </tr>
                    <tr>
                      <td colspan="4"></td>
                      <td ><h6  class="title">Montant à payer: </h6></td>
                        <td class="container-prime"><h6 class="prime price"> {{data?.taxes?.decomptePrime?.primeTotaleTTC | number:'.0-2' | pricePipe}} DH TTC</h6></td>

                    </tr>

                </tbody>
              </table>
            </div>
        </div>



</div>
