<!--<div class="container text-center">
  <h2>Demander votre devis en ligne</h2>
  <mat-horizontal-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Informations</ng-template>
        <div class="core-step">
form 1
        </div>
        <div class="row p-t-20" >
            <div class="col-md-6">
                <button class="btn btn-outline-dark" mat-button matStepperPrevious>
                <i class="material-icons" style="float: left">keyboard_arrow_left</i><span>Précédent</span></button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-warning " mat-button matStepperNext> <i class="fa fa-check"></i>
                  <span>Récapitulatif</span>
                  <i class="material-icons" style="float: right" >keyboard_arrow_right  </i>
                </button>
            </div>

          </div>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>choix de garanties</ng-template>
        <div class="core-step">
form2
        </div>
        <div class="row p-t-20" >
            <div class="col-md-6">
                <button class="btn btn-outline-dark" mat-button matStepperPrevious>
                <i class="material-icons" style="float: left">keyboard_arrow_left</i><span>Précédent</span></button>
            </div>
            <div class="col-md-6">
                <button class="btn btn-warning " mat-button matStepperNext> <i class="fa fa-check"></i>
                  <span>Récapitulatif</span>
                  <i class="material-icons" style="float: right" >keyboard_arrow_right  </i>
                </button>
            </div>
          </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Envoie des documents</ng-template>
          <div class="core-step">
form 3
          </div>
          <div class="row p-t-20" >
              <div class="col-md-6">
                  <button class="btn btn-outline-dark" mat-button matStepperPrevious>
                  <i class="material-icons" style="float: left">keyboard_arrow_left</i><span>Précédent</span></button>
              </div>
              <div class="col-md-6">
                  <button class="btn btn-warning " mat-button matStepperNext> <i class="fa fa-check"></i>
                    <span>Récapitulatif</span>
                    <i class="material-icons" style="float: right" >keyboard_arrow_right  </i>
                  </button>
              </div>

            </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Paiement</ng-template>
            <div class="core-step">
form 4
            </div>
            <div class="row p-t-20" >
                <div class="col-md-6">
                    <button class="btn btn-outline-dark" mat-button matStepperPrevious>
                    <i class="material-icons" style="float: left">keyboard_arrow_left</i><span>Précédent</span></button>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-warning " mat-button matStepperNext> <i class="fa fa-check"></i>
                      <span>Récapitulatif</span>
                      <i class="material-icons" style="float: right" >keyboard_arrow_right  </i>
                    </button>
                </div>

              </div>
          </form>
        </mat-step>

    <mat-step>
      <ng-template matStepLabel>Félicitations</ng-template>
      fin ! .
      <div class="row p-t-20">
          <div class="col-md-6">
              <button class="btn btn-outline-dark" mat-button matStepperPrevious>
              <i class="material-icons" style="float: left">keyboard_arrow_left</i><span>Précédent</span></button>
          </div>
        <div class="col-md-6">
            <button class="btn btn-warning succes" mat-button (click)="stepper.reset()"><i class="fa fa-check"></i>
              <span>commencer à zéro</span><i class="material-icons" style="float: right"> rotate_left</i>
            </button>
        </div>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
-->
