<div class="my-container" *ngIf="form">
    <form [formGroup]="form">
        <div class="row">
            <div class="logos col-md-2">
                <div class="logo">
                    <img width="123px" height="100px" src="assets/images/cmi_s.png" alt="cmi.png">
                </div>
                <div class="logo">
                    <img width="123px" height="49px" src="assets/images/master_s.gif" alt="cmi.png">
                </div>
                <div class="logo">
                    <img width="75px" height="45px" src="assets/images/visa_s.gif" alt="cmi.png">
                </div>
            </div>
            <div class="col-md-10">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="ville">Sélectionner la ville de retrait de l’attestation </label>
                            <select id="ville" formControlName="ville" class="form-control custom-select" [ngClass]="{'is-invalid': hasError('ville') }">
                              <option *ngFor="let agence of agences" value="{{agence.agenceId}}"> {{agence.ville}}</option>
                            </select> 
                            <div *ngIf="hasError('ville')" class="invalid-feedback">
                                <div *ngIf="f.ville?.errors.required">Ce champ est obligatoire</div>
                            </div>
                            <div *ngIf="agences[(f.ville?.value)-1]" class="villeinfos">
                                <div><b>Adresse:</b> {{agences[(f.ville?.value)-1].adresse}}</div>
                                <div><b>Fixe:</b> {{agences[(f.ville?.value)-1].phone}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="mantant">Montant à payer</label>
                            <input disabled type="text" id="mantant" class="form-control" value="{{total | number:'.2-2'}} MAD">
                        </div>
                    </div>
                </div>
                <div class="row"> 
                    <div class="col-md-6">
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="paymentType" value="online" (click)="changePaymentType1()" >
                            <span class="custom-control-label">Payer maintenant</span>
                        </label>
                        <label class="custom-control custom-radio">
                            <input type="radio" class="custom-control-input" formControlName="paymentType" value="cheque" (click)="changePaymentType2()" >
                            <span class="custom-control-label">Payer par chèques à l'agence</span>
                        </label>
                    </div>
                </div>
                <div class="row" *ngIf="f.paymentType.value === 'cheque'">
                    <div class="col-md-6">
                        <div class="form-group has-success">
                            <label for="fraction">Fractionnement </label>
                            <select id="fraction" formControlName="fraction" class="form-control custom-select" [ngClass]="{'is-invalid': hasError('fraction') }">
                                <option *ngFor="let fraction of lesfractions" value="{{fraction}}">{{fraction}}</option>
                            </select>
                            <div *ngIf="hasError('fraction')" class="invalid-feedback">
                                <div *ngIf="f.fraction.errors.required">Ce champ est obligatoire.</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <label>Prière de préparez<b style="color:#fa0"> {{f.fraction.value}}</b> chèque{{f.fraction.value > 1 ? 's' : ''}} avec un montant de: <b style="color:#fa0"> {{ calculateFractions | number:'.2-2'}} MAD </b></label>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top: 25px;">
                    <div class="  col-md-6 condition loi">
                        <!--Conformément à la loi 09-08, vous disposez d'un droit d'accès, de rectification et d'opposition au traitement de vos données personnelles. Ce traitement a été déclaré à la CNDP sous le N°A-T 246/2013.-->
                        <a (click)="openDialog()" style="text-decoration: accesskey"> <span style="color: blue;color: blue; text-decoration: underline; cursor: pointer; cursor: alias;">A propos des conditions particulières</span> </a>
                        <app-conditions-special *ngIf="conditionModal"></app-conditions-special>
                        <div class="acceptation">
                            j'ai lu et j'accepte les conditions particulières d'utilisation, notamment la mention relative à la protection des données personnelles.
                            <input type="checkbox" formControlName="accepter" style="width: 20px;" class="form-control custom-control" [ngClass]="{'is-invalid': hasError('accepter') }">
                            <div *ngIf="hasError('accepter')" class="invalid-feedback">
                                <div *ngIf="f.accepter.errors.required">Il faut accepter les conditions</div>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-6">
                        <re-captcha [formControl]="captcha" name="captcha" siteKey="6Leleu0UAAAAANNeazJHUfGsRrV-SkPdRemGBkUU"></re-captcha>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
