.villeinfos{

  background-color:#e9ecef;
  margin-top :5px;
  font-size: smaller;
    color: darkred;
    padding-left: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    font-weight: 400;

}

.condition{
  flex-direction: row;
}
.acceptation{
  font-size: smaller;
  font-family: ARIAL;
  text-align: center;
}
.loi{
  font-size: smaller;
  font-family: ARIAL;
}
.logos{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.logo {
  margin: auto;
}
.my-action.print {
  padding: 1vh;
  display: flex;
  align-items: center;
  line-height: 1;
  border-radius: 5px;
  background-color: rgb(5, 135, 255);
  color: white;
  cursor: pointer;
  width: 180px;
}
.print{
  margin-bottom: 20px;
}
