<h1 mat-dialog-title>Personne transportée</h1>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="carburant">Décès / Incapacité</label>
          <select id="carburant" formControlName="option" class="form-control custom-select" [ngClass]="{ 'is-invalid': hasError('option') }">
            <option *ngFor="let personneTransporte of personneTransporteOptions;" value="{{personneTransporte.value}}">{{personneTransporte.label}}</option>
          </select>
          <div *ngIf="hasError('option')" class="invalid-feedback">
            <div *ngIf="f.option.errors?.required">Ce champ est obligatoire</div>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!--<div>
    <p>Radio Button... </p>
    <pre>{{data | json}}</pre>
  </div>-->
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="closeDialog(form.value.option)" [disabled]="!validForm()">Enregistrer </button>
  <!--<button mat-button (click)="closeDialog(false)">Annuler </button>-->
</mat-dialog-actions>
