<h1 mat-dialog-title>Conditions d'utilisations</h1>
<mat-dialog-content class="mat-typography">
  <h3></h3>
 <h2> Important note to be considered by the merchant before using this document:</h2>
 <p>
  This document is a model of the Terms of Online Sale which present the "virtual" contract involving the various parties (Merchant and customers).
  In this model, the business clauses are to be adapted by the merchant according to the context of his business. As for the clauses concerning the payment (highlighted with a different color), they are to be included in the Terms of Online Sale of the merchant website.


 </p>

<h3>OF ONLINE SALES </h3>
<p>
  We invite you to read these terms and conditions of online sales of … web site.
The validation of your online transaction form is considered as an irrevocable acceptance of these terms.
</p>


<h4>1. Preamble</h4>
<p>The following general terms of the online sales govern all transactions established through the web site of …. Any transaction processed through this web site assumes the unconditional and irrevocable acceptance of these conditions by the customer.
</p>
<h4>2. Purpose</h4>
<p>These terms are intended to define the rights and obligations of the parties in the context of Internet sales of the web site ….
</p>
<h4>3. Sales</h4>
<p>Through … web site, the customer accesses the online form of payment. He selects the items that he wishes to buy, fills his identity information, accept the terms and validates the online form. The customer is thus redirected to the Centre Monétique Interbancaire online secure payment platform where he completes his payment information and validates the payment.
</p>
<h4>4. Payment Methods</h4>
<p>To pay by credit card, the customer is called to enter the coordinates of his payment card and authentication PIN. When the transaction is accepted by the bank, the discount for debit his account is made in the working-day following the date of confirmation of the transaction.
  Online payment by credit card is secured by Centre Monétique Interbancaire that provides a fully secure payment service.
  The customer guarantees … web site that he has the funds required permission to use the payment method chosen by him during the validation of the payment.
  When paying by credit card, the provisions relating to the fraudulent use of payment method provided in agreements between the customer and the issuer bank, and between … web site and his Bank are applied.
  </p>
<h4>5. Data Privacy</h4>
<p>
  The information requested from the customer during the online payment are required to process the online transaction. They are treated confidentially. The customer has the right to rectification of his personal data.

</p>
<h4>6. Proof of payment</h4>
<p>The data stored on the Centre Monétique Interbancaire online platform on behalf of the … web site constitutes proof of payment for online payment made by the customer.
</p>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Fermer</button>

</mat-dialog-actions>
