
<div class="card-body ">
    <div class="my-content">
      <div class="container" *ngIf="form">
        <form [formGroup]="form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="partener">Partenaire </label>
                    <select (change)="showConventionsParam()" id="partener" formControlName="partener" class="form-control custom-select">
                      <option *ngFor="let partener of parteners" value="{{partener.partenaireId}}">  {{partener.libelle}}</option>
                    </select> 
                </div>
            </div>
        
            <div class="col-md-7">
                
            </div>
        <div class="col-1">
          <button title="Ajouter" at-button (click)="AddConvParamFunction()" class=" ajouter btn btn-primary"><i class="fa fa-plus"></i></button>
        </div>
        </div>
        </form>
        
          <div class="mat-elevation-z8 ">
            <table *ngIf="taille !== 0" class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">Places</th>
                  <th scope="col">Franchise minimale</th>
                  <th scope="col">Libelle</th>
                  <th scope="col">Invalidité</th>
                  <th scope="col">Frais</th>
                  <th scope="col">Deces</th>
                  <th scope="col">CNPAC</th>
                  <th scope="col">Accessoires</th>
  
                  <th class="action" scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr  *ngFor="let convention of convParam">              <!--*ngFor='let conv of convParam'-->
                  <td *ngIf="convention.nombrePlaces">{{convention.nombrePlaces}}</td><td *ngIf="!convention.nombrePlaces">--</td>
                  <td *ngIf="convention.montantFranchiseMinimum">{{convention.montantFranchiseMinimum}}</td><td *ngIf="!convention.montantFranchiseMinimum">--</td>
                  <td *ngIf="convention.libelle">{{convention.libelle}}</td><td *ngIf="!convention.libelle">--</td>
                  <td *ngIf="convention.invalidite">{{convention.invalidite}}</td><td *ngIf="!convention.invalidite">--</td>
                  <td *ngIf="convention.fraisMedicaux">{{convention.fraisMedicaux}}</td><td *ngIf="!convention.fraisMedicaux">--</td>
                  <td *ngIf="convention.deces">{{convention.deces}}</td><td *ngIf="!convention.deces">--</td>
                  <td *ngIf="convention.cnpac">{{convention.cnpac}}</td><td *ngIf="!convention.cnpac">--</td>
                  <td *ngIf="convention.accessoires">{{convention.accessoires}}</td><td *ngIf="!convention.accessoires">--</td>
                  <td class="buttonAction"> <button title="Modifier"  (click)="EditConvParamFunction(convention)" class="btn btn-primary"><i class="fa fa-edit"></i></button>  
                    <button title="Supprimer"  type="button" (click)="deleteConventionParam(convention.conventionParamId)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </tr>
  
              </tbody>
            </table> 
            <div *ngIf="!convParam" class="text-info noUsers"> Aucune convention pour ce partenaire !</div>
  
          </div>
        
        </div>
       </div>
    </div>
  
