.icons{
  width: 100%;
  font-size: 70px;
  text-align: center;
  margin-top: 50px;

}
.row{
  margin-top:33px;
}

.garantie {
  height: 204px;
  display: inline-block;
  border-radius: 0px;
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  background-color: Transparent;
  background-repeat:no-repeat;
  overflow: hidden;
  outline:none;
  font-variant:initial;
  text-align: center;
  padding-top: 50px
}

.garantie .fa{
  display: block;
  margin-top:10px
}

.garantie span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
  font-size: 15px;;;
}

.garantie span:after {
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.1s;
}

.garantie:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.garantie:hover{
  color:white;
  background-color: #2d93f3;
}
.garantie .info-hover{
  transition: all 0.5s;
  display: block;
  font-size: 12px;
  padding:10px;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: Transparent;
  top:0px;
  right: 0px;
  vertical-align: middle;

}
.garantie .info-hover p{
  display: none;
  color:white;
  text-align: center;
  margin: auto 0;
  vertical-align: middle;
  position: absolute;
    top: 50%;
    left: 50%;
    right: -50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-weight: bolder;
}
.garantie .info-hover:hover p{
    display: block;
}

.garantie:hover .info-hover{
  background-color: #2d93f3;
  display: block;
}

.garantie i.material-icons{
  margin-top:46px
}



.selected {
  background-color: #f9822e;
  color:white;
}


.container-prime{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  background: #f3f3f3 !important;
  padding: 17px !important;
  margin:0px !important;
  margin-top: 10px !important;
  margin-bottom: 25px !important;

}
.container-prime h6.prime{
  color: orange;
  font-weight: bold
}

.p{
  position: absolute;
  top: 50%;
  left: 50%;
  right: -50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-weight: bolder;
}


.my-card {
  width: 50%;
  height: 50%;
  transform: translate(50%, 50%);
}

.my-card .garantie {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.my-card .garantie span {
  font-size: 12px;
}
