<div class="my-container">
  <div>
      <h4>Choix de garanties</h4>
      <h6>Sélectionner les garanties supplémentaires dont vous souhaitez bénéficiez</h6>
      <div class="row">
          <div class="col-md-3 mb-4" *ngFor="let garantie of _garanties; let i=index">
              <div class="card" *ngIf="!garantie.myClass">
                  <div [ngClass]="retrieveClass(i)" (click)="toggle(i, garantie.code)">
                      <i [ngClass]="'fa fa-4x fa-g' + garantie.icon"></i>
                      <span>{{garantie.lebelle}}</span>
                      <div class="info-hover">
                          <p>{{garantie.desc}}</p> 
                      </div>
                  </div>
              </div>
            <div class="card my-card" *ngIf="garantie.myClass">
              <div [ngClass]="retrieveClass(i)" (click)="toggle(i, garantie.code)">
                <i [ngClass]="'fa fa-4x fa-g' + garantie.icon"></i>
                <span>{{garantie.lebelle}}</span>
                <div class="info-hover">
                  <p>{{garantie.desc}}</p>
                </div>
              </div>
            </div>
          </div>
      </div>
      <!--div class="row container-prime">
          <div class="col-md-7 "> </div>
          <div class="col-md-3 ">
              <h6>Prime Annuelle HT: </h6></div>
          <div class="col-md-2 ">
              <h6 class="prime">{{sommeGaranties | number:'.0-2' | pricePipe}} DH</h6>
          </div>
      </div-->
  </div>
</div>
