<div class="my-container">
    <app-header [user]="user"></app-header>
  <div class="card-body">
    <div class="my-content">
      <div class="row">
        <div class="col-7">
            <mat-form-field>
                <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Chercher">
            </mat-form-field>
        </div>
        <!-- <div  class="col-5 form-inline my-2 my-lg-0">
          <button type="button" class="button2" (click) ="editPassword()" >Modifier mot de passe <i class=""></i></button>
          <button type="button" class="button button2" (click)="logout()">Déconnexion <i class="fa fa-sign-out"></i></button>
        </div> -->
    </div>
          <div class="mat-elevation-z8">
            <table width="100%" mat-table [dataSource]="dataSource" matSort>
<!--
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row"> {{row.devisId}} </td>
              </ng-container>
-->
              <ng-container matColumnDef="CIN">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> CIN </th>
                <td mat-cell *matCellDef="let row"> {{row.assureCin}} </td>
              </ng-container>

              <ng-container matColumnDef="Nom">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> NOM </th>
                <td mat-cell *matCellDef="let row"> {{row.assureName}} </td>
              </ng-container>


              <ng-container matColumnDef="immatriculation">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Immatriculation </th>
                <td mat-cell *matCellDef="let row"> {{row.immatriculation}} </td>
              </ng-container>

              <ng-container matColumnDef="debutcouverture">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header> Début couverture </th>
                  <td mat-cell *matCellDef="let row"> {{row.dateDebutCouverture}} </td>
                </ng-container>

                <ng-container matColumnDef="fincouverture">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Fin couverture </th>
                    <td mat-cell *matCellDef="let row"> {{row.dateFinCouverture}} </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                      <th class="action" mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                      <td mat-cell *matCellDef="let row"> <button type="button" class="btn btn-success" (click)="validerDevis(row.devisId)">Valider</button>
                      </td>
                    </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;">
              </tr>
            </table>

            <mat-paginator  [length]="pagination.collectionSize"
                          [pageIndex]="pagination.page"
                          [pageSize]="[pagination.pageSize]"
                          (page)="getNext($event)">
            </mat-paginator>
            
                       
          </div>
         <!--
           <form class="form-inline my-2 my-lg-0">
              <button type="button" class="btn btn-success" (click)="logOut()">Déconnexion</button>
          </form>
         --> 
       </div>
    </div>

</div>





