.my-content {
  width: 70%;
  max-width: 1300px;
  margin: auto;
}
.headertab{
  display: flex;
}
.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  margin-right: 14px;
}

.button2 {
  background-color: #008CBA;
  color: white;
  border: 1px solid #008CBA;
  border-radius: 5px;
}

.button2:hover {
  background-color: #f0ffff;
  color: black;
}
button{
  margin-left: 34px;
    height: 23px;
    padding-top: 0px;
}
table{
  font-size: 95%;
}
.action{
  width: 117px;
  text-align: -webkit-center;
}
th{padding-left: 18px;
  font-size: 16px;}

