<div class="my-container">
  <form [formGroup]="form" >  
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="nom">Nom </label>
                  <input style="text-transform: uppercase" type="text" id="nom" formControlName="nom" class="form-control" placeholder="Nom" [ngClass]="{'is-invalid': hasError('nom') }">
                  <div *ngIf="hasError('nom')" class="invalid-feedback">
                    <div *ngIf="f.nom.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.nom.errors?.pattern">Format invalide</div>
                 </div>
                </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="prenom">Prénom</label>
                  <input style="text-transform: capitalize;" type="text" id="prenom" formControlName="prenom" class="form-control" placeholder="Prénom" [ngClass]="{'is-invalid': hasError('prenom') }">
                  <div *ngIf="hasError('prenom')" class="invalid-feedback">
                      <div *ngIf="f.prenom.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="f.prenom.errors?.pattern">Format invalide</div>
                  </div>
                </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="cin">CIN</label>
                  <input style="text-transform: uppercase" type="text" id="tel" formControlName="cin" class="form-control" placeholder="N° CIN"[ngClass]="{'is-invalid': hasError('cin')}">
                  <div *ngIf="hasError('cin')" class="invalid-feedback">
                    <div *ngIf="f.cin.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.cin.errors?.pattern">Format CIN invalide</div>
                 </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="tel">GSM</label>
                  <input type="tel" id="tel" formControlName="gsm" class="form-control" placeholder="Exemple: 0661010203" [ngClass]="{'is-invalid': hasError('gsm')}">
                  <div *ngIf="hasError('gsm')" class="invalid-feedback">
                    <div *ngIf="f.gsm.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.gsm.errors?.pattern">Format invalide (ex: 0661010203)</div>
                 </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="email">Email</label>
                  <input type="email" id="email" formControlName="email" class="form-control" placeholder="Exemple: test@test.com" [ngClass]="{'is-invalid': hasError('email')}">
                  <div *ngIf="hasError('email')" class="invalid-feedback">
                      <div *ngIf="f.email.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="f.email.errors?.pattern">Format invalide (ex: test@test.com)</div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="adresse">Adresse</label>
                  <input type="text" id="adresse" formControlName="adresse" class="form-control" placeholder="Adresse postale" [ngClass]="{'is-invalid': hasError('adresse')}">
                  <div *ngIf="hasError('adresse')" class="invalid-feedback">
                      <div *ngIf="f.adresse.errors?.required || f.adresse.errors?.pattern">Ce champ est obligatoire</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="date1">Date de naissance</label>
                  <input type="text" id="date1" mask="00/00/0000" placeholder="dd/MM/yyyy" formControlName="date1" class="form-control" [ngClass]="{'is-invalid': hasError('date1')}">
                  <div *ngIf="hasError('date1')" class="invalid-feedback">
                    <div *ngIf="f.date1.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="!f.date1.errors?.required && f.date1.errors?.ValidateDate">Date invalide</div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="date2">Date d'obtention du permis de conduire</label>
                  <input type="text" id="date2" mask="00/00/0000" placeholder="dd/MM/yyyy" formControlName="date2" class="form-control" [ngClass]="{'is-invalid': hasError('date2')}">
                  <div *ngIf="hasError('date2')" class="invalid-feedback">
                    <div *ngIf="f.date2.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="!f.date2.errors?.required && f.date2.errors?.MatchPassword">Date invalide</div>
                  </div>
              </div>
          </div>
      </div>

      <div class="row">
          <div class="col-md-6">
              <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" formControlName="typeDevis" value=true>
                  <span class="custom-control-label">Avec Convention</span>
              </label>
              <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" formControlName="typeDevis" value=false>
                  <span class="custom-control-label">Sans Convention</span>
              </label>
          </div>

          <div class="col-md-6" *ngIf="form.value.typeDevis == 'true'">
            <div class="form-group">
                <select id="carburant" formControlName="compagnie" class="form-control custom-select" [ngClass]="{ 'is-invalid': hasError('compagnie') }">
                    <!--<option value="" selected disabled>-&#45;&#45;</option>-->
                    <!--<option value="BMCE">BMCI</option>-->
                    <option *ngFor="let compagnie of compagnies;" value="{{compagnie.value}}">{{compagnie.label}}</option>
                </select>
                <div *ngIf="hasError('compagnie')" class="invalid-feedback">
                    <div *ngIf="f.compagnie.errors?.required">Ce champ est obligatoire</div>
                </div>
            </div>
          </div>
      </div>
      <div class="row">
        <re-captcha formControlName="captcha" name="captcha" siteKey="6Leleu0UAAAAANNeazJHUfGsRrV-SkPdRemGBkUU"></re-captcha>
      </div>
    </form>

</div>
