<div class="signin-content">
    <mat-card>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
          <h2>Identifiez vous</h2>
          <mat-form-field class="full-width-input">
            <input matInput type="text" placeholder="Login" formControlName="cin">
            <mat-error *ngIf="isFieldInvalid('cin')">
              Champ obligatoire.
            </mat-error>
          </mat-form-field>
          <mat-form-field class="full-width-input">
            <input matInput type="password" placeholder="Mot de passe" formControlName="code">
            <mat-error *ngIf="isFieldInvalid('code')">
              Champ obligatoire.
            </mat-error>
          </mat-form-field>
          <div style="text-align:center;">
            <re-captcha style="display: inline-block;"formControlName="captcha" name="captcha" siteKey="6Leleu0UAAAAANNeazJHUfGsRrV-SkPdRemGBkUU"></re-captcha>
          </div>
          <!-- <p *ngIf="error" class="error">
              {{ error }}
            </p> -->
          <button style="background-color: #0A51A1; color: white" mat-raised-button  type="submit">Connexion</button>
        
        </form>
      </mat-card-content>
    </mat-card>
  </div>