.container{
padding-top: 40px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 87px;

}
.form-actions span{
  color: white;
  font-size-adjust: initial;
}
mat-card {
  max-width: 400px;
  margin: 2em auto;
  text-align: center;
}
.signin-content {
  padding: 60px 1rem;
}
.full-width-input {
  width: 100%;
}
.registration-link {
  margin: 1em;
}
mat-form-field {
  margin-top: 10px;
  margin-bottom: 10px;
}
.error {
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
  display: -webkit-inline-box;
  text-align: -webkit-center;
}