
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    margin-right: 14px;
  }

  .button2 {
    background-color: #008CBA;
    color: white;
    border: 1px solid #008CBA;
    border-radius: 5px;
  }
  
  .button2:hover {
    background-color: #f0ffff;
    color: black;
  }

  .navSelected{
    background-color: red;
    size: 10px;
  }