    <nav class="  navbar navbar-expand-lg navbar-light bg-light">
        <div class="nav collapse navbar-collapse" id="navbarSupportedContent">
           <ul class="navbar-nav mr-auto">
            <li class="nav-item" (click)="item=1" [ngClass]="{active: item === 1}" > 
              <a class="nav-link"   [routerLink]="['users']" routerLinkActive="router-link-active" >Utilisateurs </a>
            </li>
            <li id="nav-element" (click)="item=2" class="nav-item" [ngClass]="{active: item === 2}" >
                <a class="nav-link" [routerLink]="['convention']" routerLinkActive="router-link-active">Conventions </a>
              </li>
              <li id ="nav-element" (click)="item=3" class="nav-item " [ngClass]="{active: item === 3}" >
                  <a class="nav-link" [routerLink]="['convention-param']" routerLinkActive="router-link-active">Paramétrage </a>
                </li>
           </ul> 
           <!-- <mat-button-toggle-group #group="matButtonToggleGroup">
                <mat-button-toggle [routerLink]="['users']" routerLinkActive="router-link-active">  
                        <div>Utilisateur </div>   
                </mat-button-toggle>
                <mat-button-toggle [routerLink]="['convention']" routerLinkActive="router-link-active">
                        <div>Convention </div>
                </mat-button-toggle>
                <mat-button-toggle [routerLink]="['convention-param']" routerLinkActive="router-link-active">
                        <div>Convention Param </div>
                </mat-button-toggle>
            </mat-button-toggle-group> -->

            
          <form class="form-inline my-2 my-lg-0">
             <!-- <button type="button" class="button2" (click) ="editPassword()" >Modifier mot de passe <i class=""></i></button> 
              <button type="button" class="button button2" (click)="logout()">Déconnexion <i class="fa fa-sign-out"></i></button>-->
          </form>
        </div>
      </nav>
