<div class="my-container">
  <div class="my-content">
    <div class="title pc">Assurance Automobile</div>
    <div class="items">
        <div class="item">
          <div class="item-icon">
            <i class="fa fa-4x fa-g1"></i>
          </div>
          <div class="item-content">
            <div class="item-title">Résponsabilité civile</div>
            <div class="item-desc">Cette garantie, obligatoire, consiste en la prise en charge des dommages causés à un tiers lorsque votre responsabilité est engagée à l'occasion d'un accident impliquant votre véhicule</div>
          </div>
        </div>
        <div class="item">
          <div class="item-icon"><i class="fa fa-4x fa-g4"></i></div>
          <div class="item-content">
            <div class="item-title">Vol</div>
            <div class="item-desc">Couvre les dommages résultants de la disparistion totale du véhicule et les détériorations qu'il peut avoir subies à l'occasion d'une tentative de vol expréssement prévues dans les dispositions contractuelles</div>
          </div>
        </div>
        <div class="item">
          <div class="item-icon"><i class="fa fa-4x fa-g5"></i></div>
          <div class="item-content">
            <div class="item-title">Tierce ou dommages</div>
            <div class="item-desc">Cette garantie prend en charge les dégâts subis par votre véhicule lors d'un accident dont la résponsabilité vous incombe (après déduction d'une franchise variant de 3% à 20%). Elle est conseillée pour les véhicules moins de trois ans.</div>
          </div>
        </div>
        <div class="item">
          <div class="item-icon"><i class="fa fa-4x fa-g3"></i></div>
          <div class="item-content">
            <div class="item-title">Incendie</div>
            <div class="item-desc">Couvre les dommages occasionnés au véhicule par un incendie combustion spontanée, chute de la foudre, explosion, dans les conditions et les limites contractuellement prévues.</div>
          </div>
        </div>
        <div class="item">
          <div class="item-icon"><i class="fa fa-4x fa-g6"></i></div>
          <div class="item-content">
            <div class="item-title">Dommages collision</div>
            <div class="item-desc">Comme pour la tierce, cette garantie consiste en la prise en charge des dégâts subis par votre véhicule, mais en cas d'accident avec un tiers identifié.</div>
          </div>
        </div>
        <div class="item">
          <div class="item-icon"><i class="fa fa-4x fa-g7"></i></div>
          <div class="item-content">
            <div class="item-title">Bris de glace</div>
            <div class="item-desc">Couvre les dommages causés ou non par un accident subi par les glaces latérale, pare-brise ou lunette arrière du véhicule assuré, dans les conditions et limites contractuellement prévues.</div>
          </div>
        </div>
        <div class="item">
          <div class="item-icon"><i class="fa fa-4x fa-g18"></i></div>
          <div class="item-content">
            <div class="item-title">Personnes transportées</div>
            <div class="item-desc">Assurance contre les accidents corporels pouvant atteindre le conducteur, les personnes transportées au bord du véhicule, et couvrant le décès, l'incapacité permanente, ainsi que le remoboursement des frais médicaux dans les condistions et limites contractuellement prévues.</div>
          </div>
        </div>
        <div class="item">
          <div class="item-icon"><i class="fa fa-4x fa-g2"></i></div>
          <div class="item-content">
            <div class="item-title">Défense et recours </div>
            <div class="item-desc">Couvre dans la limite du capital assuré, les frais, de procédure tendant à :
              <br>Pouvoir à la défense des intérêts de l’assuré et de toute personne autorisée par lui à utiliser et conduire le véhicule assuré, en cas de poursuites pénales fondées sur la circulation et l’utilisation dudit véhicule.
              <br>Obtenir la réparation des dommages.
            </div>
          </div>
        </div>
        <div class="item">
          <div class="item-icon"><i class="fa fa-4x fa-g10"></i></div>
          <div class="item-content">
            <div class="item-title">Inondation</div>
            <div class="item-desc">Couvre les dommages matériels directs subis par le véhicule assuré et ayant pour cause l'action de l'eau provoquée par le ruissellement, l'engorgement ou le refoulement des égouts.</div>
          </div>
        </div>
        <div class="item">
          <div class="item-icon"><i class="fa fa-4x fa-g8"></i></div>
          <div class="item-content">
            <div class="item-title">Assistance </div>
            <div class="item-desc">L’assistance  au véhicule a pour but la mise en place et la prise en charge du remorquage d’un véhicule et le transport de ses occupants dans le cas d’un accident ou d’une panne.</div>
          </div>
        </div>
        
    </div>
  </div>
</div>
