.my-container {
    width: 100%;
    padding: 3.5vh 0;
    background-color: floralwhite;
}

.my-content {
    width: 70%;
    max-width: 1300px;
    margin: auto;
}

.title {
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 15px;
    text-align: center;
}

.items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.item {
    width: 45%;
    min-width: 300px;
    padding: 2vh 0;
    display: flex;
}

.item-icon {
    padding-right: 15px;
}

.item-icon i{
    font-size: 40px;
}

.item-title {
    font-weight: bold;
    font-size: 18px;
    text-align: start;
    margin-bottom: 5px;
}

.item-desc {
    text-align: justify;
}
