.container{
    padding-top: 40px;
      display: flex;
      align-items: center;
      flex-direction: column;
      padding-top: 87px;
    
    }
    .form-actions span{
      color: white;
      font-size-adjust: initial;
    }
    mat-card {
      max-width: 400px;
      margin: 2em auto;
      text-align: center;
    }
    .signin-content {
      padding: 60px 1rem;
    }
    .full-width-input {
      width: 100%;
    }
    .registration-link {
      margin: 1em;
    }
    mat-form-field {
      margin-top: 10px;
      margin-bottom: 10px;
    }
    .example-container {
      display: flex;
      flex-direction: column;
    }
    
    .example-container > * {
      width: 100%;
    }
    
    .example-right-align {
      text-align: right;
    }
    
    input.example-right-align::-webkit-outer-spin-button,
    input.example-right-align::-webkit-inner-spin-button {
      display: none;
    }
    
    input.example-right-align {
      -moz-appearance: textfield;
    }
    
    