<mat-dialog-content class="mat-typography">
  <div class="modal-body">
    <form [formGroup]="form">
        <!-- <div class="form-group">
            <label for="password">Mot de passe actuel</label>
            <input type="password" class="form-control" formControlName="currentpassword" class="form-control" [ngClass]="{'is-invalid': hasError('currentpassword') }">
            <div *ngIf="hasError('currentpassword')" class="invalid-feedback">
              <div *ngIf="f.currentpassword.errors?.required">Ce champ est obligatoire</div>
            </div>
        </div> -->
        <div class="example-container">
            <mat-form-field>
              <input matInput placeholder="Mot de passe actuel" [type]="hide ? 'password' : 'text'" formControlName="currentpassword">
              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
              <mat-error *ngIf="hasError('currentpassword')">
                  Ce champ est obligatoire
                </mat-error>
            </mat-form-field>
        </div>
        <div class="form-group">
          <label for="newpassword">Nouveau mot de passe</label>
          <input type="password"  class="form-control" formControlName="newpassword" class="form-control" [ngClass]="{'is-invalid': hasError('newpassword') }">
          <div *ngIf="hasError('newpassword')" class="invalid-feedback">
              <div *ngIf="f.newpassword.errors?.required">Ce champ est obligatoire</div>
            </div>
        </div>
        <div class="form-group">
          <label for="newpassword2">Confirmer le nouveau mot de passe</label>
          <input type="password"  class="form-control" formControlName="newpassword2" class="form-control" [ngClass]="{'is-invalid': hasError('newpassword2') }">
          <div *ngIf="hasError('newpassword2')" class="invalid-feedback">
              <div *ngIf="f.newpassword2.errors?.required">Ce champ est obligatoire</div>
              <div *ngIf="!f.newpassword2.errors?.required && f.newpassword2.errors?.validation">Vérifier la confirmation de votre mot de passe!</div>
            </div>
        </div>
      </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    
  <div class="row">
      <div class="col"><button type="button"  class="btn btn-primary" (click) ="validerPassword()">Modifier</button></div>
        <div class="col"><button mat-button mat-dialog-close >Annuler</button></div>
    </div>
  </mat-dialog-actions>