<div class="my-container">
  <form [formGroup]="form">
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="marque">Marque</label>
                  <input type="text" id="marque" formControlName="marque" class="form-control" placeholder="La marque" [ngClass]="{'is-invalid': hasError('marque') }">
                  <div *ngIf="hasError('marque')" class="invalid-feedback">
                      <div *ngIf="f.marque.errors?.required">Ce champ est obligatoire</div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="usage">Usage</label>
                  <select id="usage" formControlName="usage" class="form-control custom-select" [ngClass]="{ 'is-invalid': hasError('usage') }">
                      <option *ngFor="let usage of usageOptions" value="{{usage.code}}">{{usage.libelle}}</option>
                  </select>
                  <div *ngIf="hasError('usage')" class="invalid-feedback">
                      <div *ngIf="f.usage.errors.required">Ce champ est obligatoire</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" formControlName="typeImma" value=definitif>
                  <span class="custom-control-label">Immatriculation définitive</span>
              </label>
              <label class="custom-control custom-radio">
                  <input type="radio" class="custom-control-input" formControlName="typeImma" value=ww>
                  <span class="custom-control-label">Immatriculation WW</span>
              </label>
          </div>
          <div class="col-md-6">
              <div class="form-group" *ngIf="f.typeImma.value === 'definitif'">
                  <label for="matricule">Immatriculation</label>
                  <div class="immatriculation" formGroupName="immatriculationDefinitf">
                      <input id="code" type="text" class="form-control" formControlName="code" [ngClass]="{ 'is-invalid': submitted && form.get('immatriculationDefinitf').get('code').errors }">
                      <input style="text-transform: uppercase" id="letter" type="text" class="form-control" formControlName="letter" [ngClass]="{ 'is-invalid': submitted && form.get('immatriculationDefinitf').get('letter').errors }">
                      <input id="ville" type="text" class="form-control" formControlName="ville" [ngClass]="{ 'is-invalid': submitted && form.get('immatriculationDefinitf').get('ville').errors }">
                  </div>
                  <div style="display: block;" *ngIf="submitted && (form.get('immatriculationDefinitf').get('code').errors || form.get('immatriculationDefinitf').get('letter').errors || form.get('immatriculationDefinitf').get('ville').errors)" class="invalid-feedback">
                      <div *ngIf="form.get('immatriculationDefinitf').get('code').errors?.required || form.get('immatriculationDefinitf').get('letter').errors?.required || form.get('immatriculationDefinitf').get('ville').errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="!(form.get('immatriculationDefinitf').get('code').errors?.required || form.get('immatriculationDefinitf').get('letter').errors?.required || form.get('immatriculationDefinitf').get('ville').errors?.required) && (form.get('immatriculationDefinitf').get('code').errors?.pattern || form.get('immatriculationDefinitf').get('letter').errors?.pattern || form.get('immatriculationDefinitf').get('ville').errors?.pattern)">Format invalide</div>
                  </div>
              </div>
              <div class="form-group" *ngIf="f.typeImma.value === 'ww'">
                  <label for="matricule">Immatriculation</label>
                  <input style="text-align: center;" type="text" id="matricule" formControlName="immatriculationWw" class="form-control" [ngClass]="{'is-invalid': hasError('immatriculationWw') }">
                  <div *ngIf="hasError('immatriculationWw')" class="invalid-feedback">
                      <div *ngIf="f.immatriculationWw.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="f.immatriculationWw.errors?.pattern">Format invalide</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="dateMEC">Date de la mise en circulation</label>
                  <input type="text" id="dateMEC" (focusout)="getVenaleValue($event)" mask="00/00/0000" placeholder="dd/MM/yyyy" formControlName="dateMEC" class="form-control" [ngClass]="{'is-invalid': hasError('dateMEC')}">
                  <div *ngIf="hasError('dateMEC')"  class="invalid-feedback">
                      <div *ngIf="f.dateMEC.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="!f.dateMEC.errors?.required && f.dateMEC.errors?.ValidateDate">Date invalide</div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="puissance">Puissance fiscale</label>
                  <select id="puissance" formControlName="puissance" (focusout)="getVenaleValue($event)" class="form-control custom-select" [ngClass]="{ 'is-invalid': hasError('puissance') }">
                      <option *ngFor="let puissance of puissanceOptions" value="{{puissance}}">{{puissance}} CV</option>
                  </select>
                  <div *ngIf="hasError('puissance')" class="invalid-feedback">
                      <div *ngIf="f.puissance.errors?.required">Ce champ est obligatoire</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group has-danger">
                  <label for="neuf">Valeur à neuf (MAD)</label>
                  <input type="text" id="neuf" (focusout)="getVenaleValue($event)" formControlName="neuf" mask="separator.2" class="form-control" placeholder="Valeur en MAD" [ngClass]="{ 'is-invalid': hasError('neuf') }">
                  <div *ngIf="hasError('neuf')" class="invalid-feedback">
                      <div *ngIf="f.neuf.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="f.neuf.errors?.pattern">Format invalide</div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="venale">Valeur vénale (MAD)</label>
                  <input type="text" id="venale" formControlName="venale" mask="separator.2"  class="form-control" placeholder="Valeur en MAD"  [ngClass]="{ 'is-invalid': hasError('venale') || (submitted && invalidVenale)}"  >


                   <div *ngIf="hasError('venale') || (submitted && invalidVenale)" class="invalid-feedback">
                      <div *ngIf="f.venale.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="f.venale.errors?.pattern">Format invalide.</div>
                      <div *ngIf="!f.venale.errors?.required && !f.venale.errors?.pattern && (submitted && invalidVenale)">La valeur vénale doit être inférieure à la valeur à neuf</div>

                    </div>

              </div>
          </div>
      </div>

      <div class="row">
       <div class="col-md-6">
              <div class="form-group has-danger">
                  <label for="glace">Valeur de glace (MAD)</label>
                  <input type="text" id="glace" formControlName="glace" mask="separator.2" class="form-control"  placeholder="Valeur en MAD" [ngClass]="{ 'is-invalid': hasError('glace') }">
                  <div *ngIf="hasError('glace')" class="invalid-feedback">
                      <div *ngIf="f.glace.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="f.glace.errors?.pattern">Format invalide</div>
                  </div>
              </div>

          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="carburant">Type carburant</label>
                  <select id="carburant" formControlName="carburant" class="form-control custom-select" [ngClass]="{ 'is-invalid': hasError('carburant') }">
                      <option *ngFor="let carburant of carburantOptions" value="{{carburant.value}}">{{carburant.label}}</option>
                  </select>
                  <div *ngIf="hasError('carburant')" class="invalid-feedback">
                      <div *ngIf="f.carburant.errors?.required">Ce champ est obligatoire</div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="debutCouvertue">Date début de couverture</label>
                  <input type="text" id="debutCouvertue" mask="00/00/0000" placeholder="dd/MM/yyyy" formControlName="debutCouvertue" class="form-control" [ngClass]="{'is-invalid': hasError('debutCouvertue')}">
                  <div *ngIf="hasError('debutCouvertue')"  class="invalid-feedback">
                      <div *ngIf="f.debutCouvertue.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="!f.debutCouvertue.errors?.required && f.debutCouvertue.errors?.ValidateDate">Date invalide</div>
                      <div *ngIf="!f.debutCouvertue.errors?.required && !f.debutCouvertue.errors?.ValidateDate && f.debutCouvertue.errors?.ValidateDateDebutCouverture && f.typeImma.value === 'definitif'">La date de début doit être à partir de demain</div>
                      <div *ngIf="!f.debutCouvertue.errors?.required && !f.debutCouvertue.errors?.ValidateDate && f.debutCouvertue.errors?.ValidateDateDebutCouverture && f.typeImma.value === 'ww'">La date de début doit être à partir d'aujourd'hui</div>
                  </div>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="finCouverture">Date fin de couverture</label>
                  <input type="text" id="finCouverture" mask="00/00/0000" placeholder="dd/MM/yyyy" formControlName="finCouverture" class="form-control" [ngClass]="{'is-invalid': hasError('finCouverture')}">
                  <div *ngIf="hasError('finCouverture')"  class="invalid-feedback">
                      <div *ngIf="f.finCouverture.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="!f.finCouverture.errors?.required && f.finCouverture.errors?.ValidateDate">Date invalide</div>
                      <div *ngIf="!f.finCouverture.errors?.required && !f.finCouverture.errors?.ValidateDate && f.finCouverture.errors?.ValidateDateFinCouverture">La date de fin doit être entre la date de début et un an après au maximum</div>
                  </div>
              </div>
          </div>
      </div>
  </form>
</div>
