.my-container {
  width: 100%;
  padding: 3.5vh 0;
  background-color: #ffffff;
}

.immatriculation {
  display: flex;
  justify-content: space-between;
}

#code {
  width: 45%;
  text-align: center;
}

#ville {
  width: 25%;
  text-align: center;
}

#letter {
  width: 20%;
  text-align: center;
}
