.container-prime{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  background: #f3f3f3 !important;
  margin:0px !important;
  margin-top: 10px !important;
  margin-bottom: 0px !important;

}

.recapinfo{
  border-radius: 8px;
  border-radius: 15px;
    padding: 17px;
    height: 100%;

}
.container-prime .row{
  padding:5px;
  padding-left: 15px;
  padding-right: 15px;
}

.container-prime h6.prime{

  color: orange;
  font-weight: bold
}
.element{
  margin-top: 10px;
}

.element h6.price{
  padding-left: 0px;
  padding-right: 0px;
  text-align: right;
}
.element h6.title{
  padding-left: 0px;
  padding-right: 0px;
  text-align: left;
}

.element h6{
  border-bottom: 0.5px dotted #c7c7c7;
  margin-bottom: 0px;
  padding-left: 15px;
  padding-right: 15px;
}

.element div{
  margin: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

table thead{
  background: #f3f3f3 !important;
}
table thead tr th{
  padding-left: 31px;
}
table tbody tr td{
  padding-left: 31px;
}

.card.recapinfo .fonts h6:first-child{
  font-family: inherit;
  font-size: 14px;
  font-weight: inherit;
}
.card.recapinfo .fonts h6:last-child{
  font-family: inherit;
  font-size: 14px;
  font-weight: inherit;
  color: #0084ff;
}
.tdIcon{
  display: flex;

}
.tdIcon div{
  margin-right: 18px;
}
.my-action.print {
  padding: 1vh;
  display: flex;
  align-items: center;
  line-height: 1;
  border-radius: 5px;
  background-color: rgb(5, 135, 255);
  color: white;
  cursor: pointer;
  width: 180px;
}
.print{
  margin-bottom: 20px;
}
.h-justify-center {
  justify-content: center;
}


