<div class="my-container">
   <form [formGroup]="form" >
      <h4>Justificatifs :</h4>
      <h6 style="color: red"> * Veulliez télècharger tous les fichiers en (RECTO/VERSO) </h6>
      <div >
        <br>   
          <div class="row">
                <label class="col-form-label col-md-4"><h6>Carte d'identité nationale :</h6> </label>
                <div class="form-group col-md-6 ">
                   <input (change)="cinUpload($event)"  accept=".pdf,.jpg,.PNG" formControlName="cin" class="form-control"
                      ngf-max-size="20MB" type="file" [ngClass]="{'is-invalid': hasError('cin') }" />
                      <div *ngIf="hasError('cin')" class="invalid-feedback">
                          <div *ngIf="f.cin.errors?.required">Ce champ est obligatoire</div>
                      </div>
                </div>
         </div>
           <br>
           <div class="row">
                  <label class="col-form-label  col-md-4 "><h6>Carte grise :</h6></label>
                  <div class="form-group col-md-6 ">
                    <input  (change)="cgUpload($event)"  accept=".pdf,.jpg,.PNG" formControlName="cg" class="form-control"
                             ngf-max-size="20MB" type="file" [ngClass]="{'is-invalid': hasError('cg') }"/>
                             <div *ngIf="hasError('cg')" class="invalid-feedback">
                                <div *ngIf="f.cg.errors?.required">Ce champ est obligatoire</div>
                             </div>
                </div>
          </div>
      
          <br>
          
          <div class="row">
                  <label class="col-form-label  col-md-4"><h6>Permis de conduire :</h6></label>
                  <div class="form-group col-md-6">
                    <input  (change)="pcUpload($event)"  accept=".pdf,.jpg,.PNG" formControlName="pc" class="form-control"
                             ngf-max-size="20MB" type="file" [ngClass]="{'is-invalid': hasError('pc') }" />
                             <div *ngIf="hasError('pc')" class="invalid-feedback">
                                <div *ngIf="f.pc.errors?.required">Ce champ est obligatoire</div>
                             </div>
                </div>
          </div>
      </div>
    </form>
</div>
