
<mat-dialog-content class="mat-typography">
    <div class="modal-body">
        <form [formGroup]="form">
            <div class="form-group">
                <!-- <label for="agence">Agence :</label> -->
                <select formControlName="agence" placeholder="Agence" class="form-control" [ngClass]="{'is-invalid': hasError('agence') }">
                    <option *ngFor="let agence of agences" value="{{agence.agenceId}}"> {{agence.ville}}</option>
                  </select>
                  <div *ngIf="hasError('agence')" class="invalid-feedback">
                      <div *ngIf="f.agence.errors?.required">Ce champ est obligatoire</div>
                  </div>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Matricule" class="form-control" formControlName="matricule" class="form-control" [ngClass]="{'is-invalid': hasError('matricule') }">
                  <div *ngIf="hasError('matricule')" class="invalid-feedback">
                      <div *ngIf="f.matricule.errors?.required">Ce champ est obligatoire</div>
                  </div>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Nom" class="form-control" formControlName="nom" class="form-control" [ngClass]="{'is-invalid': hasError('nom') }">
                  <div *ngIf="hasError('nom')" class="invalid-feedback">
                      <div *ngIf="f.nom.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="f.nom.errors?.pattern">Format invalide</div>
                  </div>
            </div>
            <div class="form-group">
                <input type="text" placeholder="Prénom" class="form-control" formControlName="prenom" class="form-control" [ngClass]="{'is-invalid': hasError('prenom') }">
                  <div *ngIf="hasError('prenom')" class="invalid-feedback">
                      <div *ngIf="f.prenom.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="f.prenom.errors?.pattern">Format invalide</div>
                      
                  </div>
            </div>
           
            <div class="form-group">
                <input type="text" placeholder="Login" class="form-control" formControlName="login" class="form-control" [ngClass]="{'is-invalid': hasError('login') }">
                  <div *ngIf="hasError('login')" class="invalid-feedback">
                      <div *ngIf="f.login.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="f.login.errors?.pattern">Format invalide exemple : test@test.test</div>

                  </div>
            </div>
              <div class="form-group">
                <input type="text" placeholder="Password" class="form-control" formControlName="password" class="form-control" [ngClass]="{'is-invalid': hasError('password') }">
                  <div *ngIf="hasError('password')" class="invalid-feedback">
                      <div *ngIf="f.password.errors?.required">Ce champ est obligatoire</div>
                  </div>
              </div>
            </form>
    </div>
    <div class="modal-footer">
       
  </div>  
</mat-dialog-content>

<mat-dialog-actions align="end">
    
  <div class="row">
      <div class="col"><button type="button"  class="btn btn-primary" data-dismiss="modal" (click) = "Ajouteruser()">Enregistrer</button></div>
        <div class="col"><button mat-button mat-dialog-close >Fermer</button></div>
    </div>
</mat-dialog-actions>
