<mat-dialog-content class="mat-typography">
  <div class="modal-body">
      <form [formGroup]="form">

        <div class="row">
          <div class="col-6">
              <div class="form-group">
                  <label for="place">nombres de place </label>
                  <input type="text" class="form-control" formControlName="place" class="form-control" [ngClass]="{'is-invalid': hasError('place') }">         
                  <div *ngIf="hasError('place')" class="invalid-feedback">
                    <div *ngIf="f.place.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.place.errors?.pattern">Format invalide</div>
                  </div>
                </div>
          </div>
          <div class="col-6">
              <div class="form-group">
                  <label for="franchise">Franchise</label>
                  <input type="text" class="form-control" formControlName="franchise" class="form-control" [ngClass]="{'is-invalid': hasError('franchise') }">
                  <div *ngIf="hasError('franchise')" class="invalid-feedback">
                    <div *ngIf="f.franchise.errors?.required">Ce champ est obligatoire</div>
                    <div *ngIf="f.franchise.errors?.pattern">Format invalide</div>
    
                  </div>
              </div>
          </div>
        </div>
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label for="libelle">Libelle</label>
                    <input type="text" class="form-control" formControlName="libelle" class="form-control" [ngClass]="{'is-invalid': hasError('libelle') }">        
                    <div *ngIf="hasError('libelle')" class="invalid-feedback">
                      <div *ngIf="f.libelle.errors?.required">Ce champ est obligatoire</div>
                    </div>
                  </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label for="invalidite">Invalidité</label>
                    <input type="text" class="form-control" formControlName="invalidite" class="form-control" [ngClass]="{'is-invalid': hasError('invalidite') }">
                    <div *ngIf="hasError('invalidite')" class="invalid-feedback">
                      <div *ngIf="f.invalidite.errors?.required">Ce champ est obligatoire</div>
                      <div *ngIf="f.invalidite.errors?.pattern">Format invalide</div>
      
                    </div>
                  </div>
            </div>
          </div>
          <div class="row">
              <div class="col-6">
                  <div class="form-group">
                      <label for="frais">Frais</label>
                      <input type="text" class="form-control" formControlName="frais" class="form-control" [ngClass]="{'is-invalid': hasError('frais') }">
                      <div *ngIf="hasError('frais')" class="invalid-feedback">
                        <div *ngIf="f.frais.errors?.required">Ce champ est obligatoire</div>
                        <div *ngIf="f.frais.errors?.pattern">Format invalide</div>
          
                      </div>
                    </div>
              </div>
              <div class="col-6">
                  <div class="form-group">
                      <label for="deces">Deces</label>
                      <input type="text" class="form-control" formControlName="deces" class="form-control" [ngClass]="{'is-invalid': hasError('deces') }">
                      <div *ngIf="hasError('deces')" class="invalid-feedback">
                        <div *ngIf="f.deces.errors?.required">Ce champ est obligatoire</div>
                        <div *ngIf="f.deces.errors?.pattern">Format invalide</div>
          
                      </div>
                    </div>
              </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="cnpac">CNPAC</label>
                        <input type="text" class="form-control" formControlName="cnpac" class="form-control" [ngClass]="{'is-invalid': hasError('cnpac') }">
                        <div *ngIf="hasError('cnpac')" class="invalid-feedback">
                          <div *ngIf="f.cnpac.errors?.required">Ce champ est obligatoire</div>
                          <div *ngIf="f.cnpac.errors?.pattern">Format invalide</div>
            
                        </div>
                      </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="accesoires">Accesoires</label>
                        <input type="text" class="form-control" formControlName="accesoires" class="form-control" [ngClass]="{'is-invalid': hasError('accesoires') }">
                        <div *ngIf="hasError('accesoires')" class="invalid-feedback">
                          <div *ngIf="f.accesoires.errors?.required">Ce champ est obligatoire</div>
                          <div *ngIf="f.accesoires.errors?.pattern">Format invalide</div>
            
                        </div>
                      </div>
                </div>
              </div>
       </form>
  </div>
  <div class="modal-footer">
     
</div>  
</mat-dialog-content>

<mat-dialog-actions align="end">
  
<div class="row">
    <div class="col"><button type="button"  class="btn btn-primary" data-dismiss="modal" (click) = "editConventionParam()">Confirmer</button></div>
      <div class="col"><button mat-button mat-dialog-close >Fermer</button></div>
  </div>
</mat-dialog-actions>

