<div class="my-container">
    <app-header [user]="user"></app-header>
  <div class="card-body">
    <div class="my-content">
      <div class="row">
      <div class="col-12">
          <app-header-nav> </app-header-nav>
          <router-outlet></router-outlet>
      </div>
          
      
      </div>
         
      
      </div>
    </div>

</div>





