<div class="my-container">
  <div class="my-content">
    <div class="content">
        <div class="title pc">Demander un devis en ligne</div>
       <div class="description">Ce tutoriel vous présente de manière claire et interactive les différentes étapes pour obtenir un tarif en moins de 2 minutes.</div>
    </div>
  </div>
  <div class="my-content">
    <div class="row">
      <div class="col-md-3">
            <div class="my-step">
              <div class="my-step-icon">
                  <i class="material-icons">insert_drive_file</i>
              </div>
              <div class="step-title">1. Demandez votre devis</div>
            </div>
      </div>
      <div class="col-md-1 next-icon">
          <i class="material-icons">keyboard_arrow_right</i>
      </div>

      <div class="col-md-4">
          <div class="my-step">
              <div class="my-step-icon">
                  <i class="material-icons">navigation</i>
              </div>
              <div class="step-title">2. Souscrivez en ligne</div>
            </div>
     </div>
     <div class="col-md-1 next-icon">
        <i class="material-icons">keyboard_arrow_right</i>
    </div>

    <div class="col-md-3">
        <div class="my-step">
            <div class="my-step-icon">
                <i class="material-icons">thumb_up</i>
            </div>
            <div class="step-title">3. On vous prépare l'attestation</div>
          </div>
  </div>
  </div>
</div>
</div>



<!--
  <div class="my-container">
  <div class="my-content">
    <div class="content">
        <div class="title pc">Demander un devis en ligne</div>
        <div class="description">Ce tutoriel vous présente de manière claire et interactive les différentes étapes pour obtenir un tarif en moins de 2 minutes.</div>
    </div>
  </div>
  <div class="my-content">
    <div class="my-steps">

      <div class="my-step">
        <div class="my-step-icon">
            <i class="material-icons">insert_drive_file</i>
        </div>
        <div class="step-title">1. Demandez votre devis</div>
      </div>

      <div class="next-icon">
          <i class="material-icons">keyboard_arrow_right</i>
      </div>

      <div class="my-step">
        <div class="my-step-icon">
            <i class="material-icons">navigation</i>
        </div>
        <div class="step-title">2. Souscrivez en ligne</div>
      </div>
      <div class="next-icon">
          <i class="material-icons">keyboard_arrow_right</i>
      </div>

      <div class="my-step">
        <div class="my-step-icon">
            <i class="material-icons">thumb_up</i>
        </div>
        <div class="step-title">3. On vous prépare l'attestation</div>
      </div>

    </div>
  </div>
</div>

-->
