.my-container {
  width: 100%;
  padding: 3.5vh 0;
  background-color: #ffffff;
}

.my-content {
  width: 70%;
  max-width: 1300px;
  margin: auto;
}

.content {
  max-width: 610px;
  margin: auto;
  margin-bottom: 3.5vh;
  text-align: center;
}

.title {
  font-weight: bold;
  font-size: 26px;
  margin-bottom: 1.5vh;
}

.my-steps {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.my-step {
    text-align: center;
}

.next-icon i{
    font-size: 65px;
    color: rgba(0,0,0,.87);
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-step-icon {
    width: 100px;
    height: 100px;
    border: 1px solid rgba(0,0,0,.87);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 10px;
}

.my-step-icon i {
    font-size: 60px;
    color: rgba(0,0,0,.87);
}
