<div class="card-body ">
    <div class="my-content">
      <div class="container" *ngIf="form">
        <form [formGroup]="form">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label for="partener">Partenaire </label>
                    <select (change)="showConventionByPartener()" id="partener" formControlName="partener" class="form-control custom-select">
                      <option *ngFor="let partener of parteners" value="{{partener.partenaireId}}"> {{partener.libelle}}</option>
                    </select> 
                </div>
            </div>
        
            <div class="col-md-7">
                
            </div>
        <div class="col-1">
          <button title="Ajouter un utilisateur" at-button (click)="AddConventionFunction()" class=" ajouter btn btn-primary"><i class="fa fa-plus"></i></button>
        </div>
        </div>
        </form>
        
          <div class="mat-elevation-z8 ">
            <table *ngIf="taille !== 0" class="table table-hover" >
              <thead>
                <tr>
                  <th scope="col">Taux</th>
                  <th scope="col">Prime</th>
                  <th scope="col">Franchise</th>
                  <th scope="col">Configuration</th>
                  <th scope="col">Code garantie</th>
  
                  <th class="action" scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let convention of conventions">
                  <td>{{convention.taux}}</td>
                  <td>{{convention.prime}}</td>
                  <td>{{convention.franchise}}</td>
                  <td>{{convention.configuration}}</td>
                  <td>{{convention.code}}</td>
                  <td class="buttonAction">
                     <button *ngIf="convention.code !== 'RC' && convention.code !== 'DR'" title="Modifier"  (click)="EditConventionFunction(convention)" class="btn btn-primary"><i class="fa fa-edit"></i></button>  
                    <button  title="Supprimer"  type="button" (click)="deleteConventions(convention.conventionId)" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </tr>
              </tbody>
            </table>   
            <mat-paginator *ngIf="taille !== 0"
                           [length]="pagination.collectionSize"
                          [pageIndex]="pagination.page"
                          [pageSize]="[pagination.pageSize]"
                          (page)="getNext($event)">
            </mat-paginator>
            <div *ngIf="taille === 0" class="text-info noConv"> Aucune convention pour ce partenaire !</div>
          </div>
        
        </div>
       </div>
    </div>
  